#calendario{
	position:relative;
	width:285px;
	height:181px;
}

#calendario ul{
	margin:10px 0 0 17px;
	position:relative;
	padding:0;
}

#calendario li{
	list-style: none;
	float: left;
	font-weight: bold;
	margin:0;
	padding:0;	
	text-align:center;
	height: 22px;
	width:34px;
	border:1px solid #4b86bc;
}

#calendario a{
	height: 22px;
	width:34px;
	margin-top:4px;
	color:#000;
	display:block;
}

#calendario li.atual, #calendario li:hover, #calendario li.tem_evento{
	background:#7db8da;
	border:1px solid #a5c3de;
}

#calendario_mes{
	position:relative;
	overflow:hidden;
	font-size:19px;
	color:#0a4f80;
	font-weight:bold;
	text-align:center;
	width:285px;
}

#calendario_mes img{
	margin:0 10px;
}


#calendario_even{
	position:relative;
	width:100%;
}

#calendario_even h2{
	margin:0 0 0px 0;
	padding:0;
	font-size:12px;
	color:#0a4f80;
	font-weight:bold;
}

#calendario_even span{
	color:#4071b1;
}

#calendario_even li{
	list-style: none;
	margin:0;
	padding:5px;	
	border-bottom:1px solid #4b86bc;
}
