@charset "utf-8";
/* CSS Document */


.menu,.menu1,.menu2,.menu3 {
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size:0.8em;
    line-height:1;
    background-color:#CCCCCC;
    color: #000033;
    border:1px solid #000000;
    padding: 5px;
    cursor: hand;
}

.menu1{
    border:1px solid #000000;
    border-left:none;
}

.menu-sel {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:0.8em;
    font-weight: bold;
    color: #000033;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-bottom: none;
    padding: 5px;
}

.menu{
    cursor: pointer;
}


.tb-conteudo {
    font-size:0.8em;
    border-right: 1px solid #000000;
    border-left:1px solid #000000;
    border-bottom: 1px solid #000000;
    margin:10px;
    padding:10px;
    height:140px;
}

.conteudo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:0.8em;
    color: #000033;
    background-color: #FFFFFF;
    padding: 0px;
    width: 650px;
    height: 120px;
    margin:0px;
}

table {
    border: none;
    margin-left:0px;
    margin-right:10px;
    padding:10px;
    padding-left:0px;
    padding-top:0px;
}

#td_opcao1,#td_opcao2,#td_opcao3,#td_opcao4{
    width:50px;
}

#td_opcao2,#td_opcao3,#td_opcao4{
    border-left:none;
}

